{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phishing detection {{ version }}</title>
    {% csrf_token %}
    <script src="{% static 'index.js' %}"></script>
</head>
<body>
     <form onkeydown="return event.key !== 'Enter';">

        <label for="urlfield">Test Url:</label><br>
        <input type="text" id="urlfield" onsubmit="return false;"><br>
        <button type="button" id="checkButton">Check!</button><br>
        <p id="result" style="display:none"></p>
    </form>
</body>
</html>